#webmentions {
    line-height: 1.2em;
    position:relative;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    display: flex;
    flex-direction: column;
    text-indent: -1em;
    padding-left: 1em;
    min-height: 64px;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 2px;
    background: #ccc;
}


#webmentions .comments {
    padding-left: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
}


#webmentions .comments li img {
  position:absolute;
  top:0rem;
/*   position: relative;
  top:1.5rem; */
  left: -30px;
  height:48px;
  width:48px;
  border-radius:25%;
  object-fit:cover;
}

#webmentions .reacts img {
    margin: 3px 0ex 1px 0;
    height: 2em;
}

#webmentions img.missing {
    background: white;
    border: dashed black 1px;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.source {
    margin-left: 3ex;
}

#webmentions a.reaction img {
    width: auto;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li span.meta {
    display:flex;
    flex-wrap:wrap;
    align-items:top;
    order:-1;
}

#webmentions .comments a.source {
    font-weight: 800;
}

#webmentions .comments time:before {
    color: #666;
    content: "⋅"
}

#webmentions .comments time {
    color: #666;
}

/* Comment content */

#webmentions .comments li .text {
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 30px;
    overflow-x: hidden;
}

#webmentions .comments li .name {
    color: #111;
}

