{% extends "base_blog.html" %}

{%- macro article_content_block() -%}
  {% block article_content -%}
    {{- article.content|trim -}}
  {%- endblock %}
{%- endmacro -%}

{%- macro article_title() -%}
  {% if article.micro and article.summary -%}
    {{- article.summary|striptags|trim|truncate(79) -}}
  {% else -%}
    {{- article.title -}}
  {%- endif %}
{%- endmacro -%}

{% block title %}{{ article_title() }} | {{ M_BLOG_NAME|e }}{% endblock %}

{% block head_links %}
  {{- super() -}}
  {# don't mind me, I'm just fixing whitespace from the previous line #}
  <link rel="canonical" href="{{ article.url|format_siteurl|e }}" />
{% endblock %}

{% block meta %}
  {% if article.description %}
  <meta name="description" content="{{ article.description|dehyphenate|striptags|e }}" />
  {% endif %}
  {% if article.fediid and M_FEDICOMMENTS -%}
  {% include "article_fedicomments_meta.html.jinja" %}
  {% endif -%}
{% endblock %}

{% block social %}
  {{- super() -}}
  {% if article.author and article.author.twitter %}
  <meta name="twitter:creator" content="{{ article.author.twitter }}" />
  {% endif %}
  {% if article.author and article.author.twitter_id %}
  <meta name="twitter:creator:id" content="{{ article.author.twitter_id }}" />
  {% endif %}
  <meta property="og:title" content="{{ article.title }}" />
  <meta name="twitter:title" content="{{ article.title }}" />
  <meta property="og:url" content="{{ article.url|format_siteurl|e }}" />
  {% if article.summary %}
  <meta property="og:description" content="{{ article.summary|dehyphenate|striptags|e }}" />
  <meta name="twitter:description" content="{{ article.summary|dehyphenate|striptags|e }}" />
  {% endif %}
  {% if article.cover %}
  <meta property="og:image" content="{{ article.cover|expand_link(article)|e }}" />
  <meta name="twitter:image" content="{{ article.cover|expand_link(article)|e }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {% elif article.category.image %}
  <meta property="og:image" content="{{ article.category.image|expand_link(article)|e }}" />
  <meta name="twitter:image" content="{{ article.category.image|expand_link(article)|e }}" />
  {% elif M_SOCIAL_IMAGE %}
  <meta property="og:image" content="{{ M_SOCIAL_IMAGE|format_siteurl|e }}" />
  <meta name="twitter:image" content="{{ M_SOCIAL_IMAGE|format_siteurl|e }}" />
  {% endif %}
  {% if not article.cover %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta property="og:type" content="article" />
{% endblock %}

{% macro badges() %}{% include "article_badges.html.jinja" %}{% endmacro %}

{% block content %}
  {% if article.cover %}
    {% include "article_kind_cover.html.jinja" %}
  {% elif article.micro %}
    {% include "article_kind_micro.html.jinja" %}
  {% else %}
    {% include "article_kind_plain.html.jinja" %}
  {% endif %}
{% endblock %}
