<!-- Fedicomments -->
{% if article.fedihost and article.fediapi %}
<meta name="fedi:host" content="{{ article.fedihost }}" />
<meta name="fedi:api" content="{{ article.fediapi }}" />
{% else %}
<meta name="fedi:host" content="{{ M_FEDIHOST }}" />
<meta name="fedi:api" content="{{ M_FEDIAPI }}" />
{% endif %}
<meta name="fedi:id" content="{{ article.fediid }}" />
