<article class="h-entry m-col-m-10 m-nopadb m-col-l-8">
    <header>
    <div class="m-header-micro">
        <a href="{{ article.author.url|format_siteurl|e }}">
        <span class="m-author-micro">
            <img src="{{ MICROBLOG_AVATAR }}" alt="{{ article.author }}" class="m-avatar-micro">
            <span>{{ article.author|e }}</span>
        </span>
        </a>
        <span>
        <a href="{{ article.url|format_siteurl|e }}" rel="bookmark" class="u-url" title="Permalink to {{ article.summary|striptags }}">
            <time class="m-date-micro" datetime="{{ article.date.isoformat() }}">
              {% set month = article.date.strftime('%b') %}
              {% set day = article.date.strftime('%d') %}
              {% set year = article.date.strftime('%Y') %}
              {{ month }} {{ day }} {{ year }}
            </time>
        </a>
        </span>
    </div>
    </header>
  <div class="m-clearfix-l"></div>
  {% if article.archived == 'True' and M_ARCHIVED_ARTICLE_BADGE %}
  {{ M_ARCHIVED_ARTICLE_BADGE|render_rst|replace('{year}', article.date.year)|rtrim|indent(6) }}
  {% endif %}
  {% if article.content %}
<!-- content -->
<div class="e-content article-kind-micro">
{{ article_content_block() }}
</div>
<!-- /content -->
  {% endif %}
  <footer>
    <p>Posted in <a class="p-category" href="{{ article.category.url|format_siteurl|e }}">{{ article.category|e }}</a>.{% if article.modified %} <span class="m-label m-success">updated <time datetime="{{ article.modified.isoformat() }}" class="dt-updated">{{ article.locale_modified }}</time></span>{% endif %}{% if article.archived == 'True' %} <span class="m-label m-warning">archived</span>{% endif %}{% if article.status == 'draft' %} <span class="m-label m-dim">draft</span>{% endif %}
      {% if article.syndication %}
      <span class="syndications">
      <a class="u-syndication" href={{ article.syndication }}>🔖</a>
      </span>
      {% endif %}
    <br/>
      {% if article.tags -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 01-2.83.0L2 12V2h10l8.59 8.59a2 2 0 010 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg> {% for tag in article.tags %}<a href="{{ tag.url|format_siteurl|e }}">#{{ tag|e }}</a>{% if not loop.last %} {% endif %}{% endfor %}{% endif %}
    </p>
    {% if M_WEBMENTIONS -%}
    {% macro webmentions() %}{% include "article_webmentions.html.jinja" %}{% endmacro %}
    {{ webmentions()|rtrim|indent(8) }}
    {% endif -%}
    {% if article.fediid and M_FEDICOMMENTS -%}
    {% macro fedicomments() %}{% include "article_fedicomments.html.jinja" %}{% endmacro %}
    {{ fedicomments()|rtrim|indent(8) }}
    {% endif -%}
  </footer>
</article>
