<header>
    {% set month = article.date.strftime('%b') %}
    {% set day = article.date.strftime('%d') %}
    {% set year = article.date.strftime('%Y') %}
  <a href="{{ article.url|format_siteurl|e }}" rel="bookmark" class="u-url" title="Permalink to {{ article.title }}">
    {% if article.micro %}
      <time class="m-date-list-micro dt-published" datetime="{{ article.date.isoformat() }}">
        {{ month }} <span class="m-date-day-micro">{{ day }}</span> {{ year }}
      </time>
    {% else %}
      <h1>
        <time class="m-date" datetime="{{ article.date.isoformat() }}">
          {{ month }} <span class="m-date-day">{{ day }}</span> {{ year }}
        </time>
        <div class="p-name">
          {{ article.title }}
        </div>
        {% if article.status == 'draft' %}
        <span class="m-label m-dim">draft</span>
        {% endif %}
      </h1>
    {% endif %}
  </a>
  {% if article.bookmarkof %}
  <a class="h-cite" href={{ article.bookmarkof }}>🔖 {{article.bookmarkof}}</a>
  {% endif %}
  {# In case of a microblog post, always display the full content #}
  {%if article.micro and article.content %}
  <div class="e-content article-kind-micro">
  {{ article.content|trim|indent(2) }}
  </div>
  {# Display summary only if:
    - we're on article listing page (either the articles_page is defined by
      Pelican the article_list is defined by our archive/index page and the
      article is not expanded (it's expanded only if it's first on the first
      page only on the index/archive page and only if it doesn't say it should
      be collapsed)
    - the article is expanded but doesn't say the summary should be hidden #}
  {% elif article.summary and
        (((articles_page or article_list) and
         (page_name not in ['index', 'archives'] or
          not loop.first or
          (articles_page and articles_page.number != 1) or
          (article.collapse_first is defined and article.collapse_first == 'True') or
          (article.collapse_first is not defined and M_COLLAPSE_FIRST_ARTICLE))) or
        (article.hide_summary is defined and article.hide_summary != 'True') or
        (article.hide_summary is not defined and not M_HIDE_ARTICLE_SUMMARY)) %}
  <div class="p-summary">
  {{ article.summary|trim|indent(2) }}
  </div>
  {% endif %}
</header>
