<div class="fedicomments">
  <details open="true"><summary>Comments from Fediverse</summary>
  <p>You can use your
    <ruby>
      Fediverse account<rp>(</rp><rt>Mastodon, Misskey etc.</rt><rp>)</rp>
    </ruby>
    to reply to this
    <a class="link" href="https://{{ M_FEDIHOST }}/@{{ M_FEDIUSER }}/{{ article.fediid }}">post</a>.
  </p>
  <p>
    <a href="https://{{  M_FEDIHOST }}/interact/{{ article.fediid }}?type=reply">
      <button id="reply">Reply</button>
    </a>
    <button id="fedicomments-load">Load comments</button>
    <div id=fedicomments-list></div>
  </p>
  <noscript><p>You need JavaScript to view the comments.</p></noscript>
  </details>
</div>
