<div class="webmentions">
  <details><summary>Comments from IndieWeb</summary>
    <p>Below you can find the interactions that this page has had using <a
        href="http://indieweb.org/webmention">WebMention</a>.
    </p>
    <div class="manual-webmention">
      <p>Have you written a <a
          href="https://indieweb.org/responses">response</a> to this post? Let
          me know the URL:
        <form id="manual-webmention"
              action="https://webmention.io/{{ SITEURL | replace('https://', '') | replace('http://', '') }}/webmention"
          method="post"><input type="url" name="source">

          <input type="hidden" name="target" value="{{ article.url|format_siteurl|e }}">
          <input type="submit" name="submit" value="Send Webmention">
        </form>
      </p>
      <p>Do you not have a website set up with WebMention capabilities? You
        can:
      <form method="get" action="https://quill.p3k.io/" target="_blank">
        <input type="hidden" name="dontask" value="1">
        <input type="hidden" name="me" value="https://commentpara.de/">
        <input type="hidden" name="reply" value="{{article.url|format_siteurl|e }}">
        <input type="submit" value="Comment anonymously (via Comment Parade)">
      </form>
      </p>
    </div>
    <div id="webmentions">
      <noscript>Due to laziness, this site uses client-side JavaScript to render the webmentions, rather than them being rendered server-side. If you do not wish to enable JavaScript, that's fair enough, but you won't be able to automagically see what Webmentions I've received - sorry!
      </noscript>
  </div>
  </details>
</div>

