<article class="h-entry m-col-m-10 m-nopadb m-col-l-8">
  {% macro header() %}{% include "article_header.html.jinja" %}{% endmacro %}
  {{ header()|rtrim|indent(6) }}
  <div class="m-clearfix-l"></div>
  {% if article.archived == 'True' and M_ARCHIVED_ARTICLE_BADGE %}
  {{ M_ARCHIVED_ARTICLE_BADGE|render_rst|replace('{year}', article.date.year)|rtrim|indent(6) }}
  {% endif %}
  {% if article.content %}
{# Enable publishing using Bridgy https://brid.gy/about#webmentions #}
{% if article.status == 'published' and M_BRIDGY_PUBLISH %}
<a href="https://brid.gy/publish/{{ M_BRIDGY_PUBLISH }}"></a>
{% endif %}
<!-- content -->
<div class="e-content article-kind-plain">
{{ article_content_block() }}
</div>
<!-- /content -->
  {% endif %}
  {% if article.category.badge or (article.author and article.author.badge) %}
  {{ badges()|rtrim|indent(6) }}
  {% endif %}
  <footer>
    {% macro footer() %}{% include "article_footer.html.jinja" %}{% endmacro %}
    {{ footer()|rtrim|indent(8) }}
    {% if M_WEBMENTIONS -%}
    {% macro webmentions() %}{% include "article_webmentions.html.jinja" %}{% endmacro %}
    {{ webmentions()|rtrim|indent(8) }}
    {% endif -%}
    {% if article.fediid and M_FEDICOMMENTS -%}
    {% macro fedicomments() %}{% include "article_fedicomments.html.jinja" %}{% endmacro %}
    {{ fedicomments()|rtrim|indent(8) }}
    {% endif -%}
  </footer>
</article>
