<article id="m-jumbo" class="h-entry {% if article.class %}{{ article.class }}{% endif %}">
  <header>
    <div id="m-jumbo-image" style="background-image: url('{{ article.cover|expand_link(article)|e }}');">
      <div id="m-jumbo-cover">
        <div class="m-container">
          <div class="m-row">
            <div class="{% if article.authors %}m-col-t-6 m-col-s-5{% else %}m-col-t-12 m-col-s-10{% endif %} m-push-s-1 m-text-left">{{ article.locale_date|e }}{% if article.status == 'draft' %} <span class="m-label m-dim">draft</span>{% endif %}</div>
            {% if article.authors %}
            <div class="m-col-t-6 m-col-s-5 m-push-s-1 m-text-right">{% for author in article.authors %}<a rel="author" href="{{ author.url|format_siteurl|e }}">{{ author|e }}</a>{% endfor %}</div>
            {% endif %}
          </div>
          <div class="m-row">
            <div class="m-col-t-12 m-col-s-10 m-push-s-1 m-col-m-8 m-push-m-2">
              {% set title = article.title.split(' — ') %}
              <div class="p-name">
                <h1><a href="{{ article.url|format_siteurl|e }}" rel="bookmark" class="u-url" title="Permalink to {{ article.title }}">{{ title[0] }}</a></h1>
                {% if title|length >= 2 %}
                <h2>{{ title[1] }}</h2>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% if article.summary and
          ((article.hide_summary is defined and article.hide_summary != 'True') or
           (article.hide_summary is not defined and not M_HIDE_ARTICLE_SUMMARY)) %}
      <div class="m-container">
        <div class="m-row">
          <div class="m-col-m-10 m-push-m-1 m-nopady">
            {{ article.summary|trim|indent(12) }}
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  </header>
  {% if article.content %}
  <div class="m-container m-container-inflatable">
    <div class="m-row">
      <div class="m-col-m-10 m-push-m-1 m-nopady">
        {% if article.archived == 'True' and M_ARCHIVED_ARTICLE_BADGE %}
        {{ M_ARCHIVED_ARTICLE_BADGE|render_rst|replace('{year}', article.date.year)|indent(8) }}
        {% endif %}
  <!-- content -->
  <div class="e-content">
  {{ article_content_block() }}
  </div>
  <!-- /content -->
        {% if article.category.badge or (article.author and article.author.badge) %}
        {{ badges()|rtrim|indent(10) }}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <footer class="m-container">
    <div class="m-row">
      <div class="m-col-m-10 m-push-m-1 m-nopadb m-col-l-8">
        {% macro footer() %}{% include "article_footer.html.jinja" %}{% endmacro %}
        {{ footer()|rtrim|indent(10) }}
      </div>
    </div>
  </footer>
</article>
