{% extends "base_blog.html" %}

{% block head_links %}
  {{- super() -}}
  {% if articles_page.has_previous() %}
  <link rel="prev" href="{{ articles_previous_page.url|format_siteurl|e }}" />
  {% endif %}
  {% if articles_page.has_next() %}
  <link rel="next" href="{{ articles_next_page.url|format_siteurl|e }}" />
  {% endif %}
{% endblock %}

{% block social %}
  {{- super() -}}
  {% block social_title_url_image %}
  {% endblock social_title_url_image %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:type" content="website" />
{% endblock %}

{% block content %}
    <div class="m-col-m-10 m-col-l-8">
      {% block content_title %}
      {% endblock content_title %}
      {% for article in articles_page.object_list %}
      <article class="m-article-list">
        {% macro header() %}{% include "article_header.html.jinja" %}{% endmacro %}
        {{ header()|rtrim|indent(8) }}
        {% if not article.micro %}
        <footer>
          {% macro footer() %}{% include "article_footer.html.jinja" %}{% endmacro %}
          {{ footer()|rtrim|indent(10) }}
        </footer>
        {% endif %}
        <div class="m-clearfix-l"></div>
      </article>
      {% endfor %}
      {% if articles_page.has_other_pages() %}
      {% macro pagination() %}{% include 'pagination.html' %}{% endmacro %}
      {{ pagination()|rtrim|indent(6) }}
      {% endif %}
    </div>
{% endblock %}
